* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns:100px auto 300px;
    grid-template-areas:
    "nav header header"
    "nav main   aside"
    "nav main   aside"
    "nav footer footer"
  }

  h1 {
    background-color: red;
}

  h2 {
    background-color: beige;
  }

  #Publicidad {
    display: flex;
    justify-content: center;
  }

  nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 15px;
  }

  nav ul {
    list-style: none;
    margin: 15px;
    display: flex;
    flex-direction: column-reverse;
    padding: 15px;
align-items: flex-start;
  }

  main {
    grid-area: main;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 15px;
  }

  footer {
    grid-area: footer;
  }

  footer div {
    display: flex;
    background-color: beige;
    justify-content: center;
  }

  footer p {
    background-color: beige;
    margin: 20px;
    padding-bottom: 20px;
    display: flex;
  }

  footer .Redes {
    background-color: red;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100px;
  }
  footer .Redes ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }

  footer .Contactos {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100px;
  }

  footer .Contactos ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }

  footer div a {
    display: flex;
    flex-direction: row;
  }

  header {
    grid-area: header;
  }

  header a {
    display: flex;
    margin: 15px;
    padding: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 15%;
    flex-direction: row;
    justify-content: space-around;
  }

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;

}

aside article img {
  border-radius: 10%;
  flex-direction: column;
  display: flex;
}



