header {
    grid-area: header;
    .Titulo {
        background-color: beige;
        display: flex;
        @include flex;
        height: 10vh;
        .Logo img {
            border-radius: 20%;
        
        }
    }
}

.Encabezado {
    margin-top: 30%;
}
