body {
    display: grid;
    grid-template-columns: 215px 450px 280px;
    grid-template-rows: 100px 250px 50% 300px 350px;
    grid-template-areas:
        "nav    nav    nav"
        "header header header"
        "main   main   aside"
        "main   main   aside"
        "footer footer footer";
    background: none;
    font-family: calibri;
    color: black;
}